<div id="page">
    {{#if sessionActive}}
        <h1>Bienvenido, {{first_name}} {{last_name}}!</h1>
        <button onclick="window.location.replace(`/profile`)">Tu perfil</button>
        <button onclick="window.location.replace(`{{cartUrl}}`)">Carrito</button>
    {{/if}}
    <h1>Productos</h1>
    {{#if showError}}
        <h2>{{error}}!</h2>
    {{/if}}
    <div>
        {{#each products}}
            <div class="divProduct">
                <h2>{{_doc.title}}</h2>
                <img src={{_doc.thumbnail}} alt={{title}}>
                <h3>${{_doc.price}}</h3>
                <h4>Categoría: {{_doc.category}}</h4>
                <p>{{_doc.description}}</p>
                <h4>Quedan {{_doc.stock}} ejemplares</h4>
            </div>
            <button id={{_doc._id}} class="addButton">Agregar al carrito</button>      
            <div id={{_doc._id}} class="secretProductDiv">
                <div>{{_doc.title}}</div>
                <div>{{_doc.description}}</div>
                <div>{{_doc.price}}</div>
                <div>{{_doc.code}}</div>
                <div>{{_doc.stock}}</div>
                <div>{{_doc.category}}</div>
                <div>{{_doc.status}}</div>
                <img src="{{_doc.thumbnail}}" alt={{_doc.title}}/>
                <div>{{_doc.owner}}</div>
                <div>{{_doc._id}}</div>
            </div>
        {{/each}}
    </div>
    <span><a href='{{{prevLink}}}'>← {{{prevPage}}}</a>| {{{page}}} de {{{totalPages}}} |<a href='{{{nextLink}}}'>{{{nextPage}}} →</a></span>
</div>
<script>
    const addButtons = document.querySelectorAll(".addButton");
    const divProducts = document.querySelectorAll(".secretProductDiv");
    let productsArray = [];
    divProducts.forEach(divProduct => {
        let product = {
            title: divProduct.children[0].textContent,
            description: divProduct.children[1].textContent,
            price: +divProduct.children[2].textContent,
            code: +divProduct.children[3].textContent,
            stock: +divProduct.children[4].textContent,
            category: divProduct.children[5].textContent,
            status: divProduct.children[6].textContent,
            thumbnail: divProduct.children[7].src,
            owner: divProduct.children[8].textContent,
            _id: divProduct.children[9].textContent,

        }
        productsArray.push(product);
    })
    addButtons.forEach(button => {
        button.addEventListener("click", () => {
            let myProduct = productsArray.find(product => product._id == button.id);
            fetch(`{{cartAction}}/${myProduct._id}`, {
                method: "POST",
                body: myProduct
            });
        });
    });
</script>